@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

@font-face {
  font-family: 'Alqalam';
  src: url(/fonts/alqalam.ttf);
}
body{
  font-family: "Inter";
  text-align: center;
  color: black !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] body {
  background-color: #121212;
  color: white !important;
}

.urdutext{
  font-family: "Alqalam", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.profilepicture{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
p{
  font-size: 1.2rem;
  line-height: 1.5;
}
.socialbutton{
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: rgba(40, 39, 39, 0);
  color: black;
  border: 1.7px solid black;
  transition: 0.1s;
  text-decoration: none;
  margin: 0.4rem;
  cursor: pointer;
}
.socialbutton:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.1s;
}

[data-theme="dark"] .socialbutton {
    color: white;
    border-color: white;
}

[data-theme="dark"] .socialbutton:hover {
    background-color: white;
    color: black;
}

.heading-about{
  color: red !important;
}
.article-tile{
margin-top: 20px;
border: 2px solid black !important; 
width: 400px;
padding: 5px;
border-radius: 5px;
}
.a-to-minimize{
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  font-size: 1.2rem;
  width: 300px;
  float: left;
  margin-right: 150px;
}

[data-theme="dark"] .a-to-minimize {
    color: white !important;
}

.article-card{
  border: 3px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  height: 200px;
  transition: 0.2s;
}
.article-card:hover{
  background-color: black;
  transition: 0.2s;
  color: white;
  cursor: pointer;
}

[data-theme="dark"] .article-card {
    border: 3px solid white;
}

[data-theme="dark"] .article-card:hover {
    background-color: white;
    color: black;
}

.footer{
  background-color: #1f1f1f; /* Charcoal Gray */
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 100px;
}
.card-project{
 cursor: pointer;
  padding: 20px;
  border-radius: 25px;
  height: 200px;
  transition: 0.1s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-project:hover{
  translate: 0 -10px;
  transform: scale(1.08);
  z-index: 2;
}
.card-green{
 background: hsla(120, 61%, 34%, 1);

background: linear-gradient(135deg, hsla(120, 61%, 34%, 1) 0%, hsla(120, 61%, 50%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(120, 61%, 34%, 1) 0%, hsla(120, 61%, 50%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(120, 61%, 34%, 1) 0%, hsla(120, 61%, 50%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#228B22", endColorstr="#32CD32", GradientType=1 );
}
.card-green:hover{
  background: hsla(120, 61%, 50%, 1);

background: linear-gradient(135deg, hsla(120, 61%, 50%, 1) 0%, hsla(120, 61%, 34%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(120, 61%, 50%, 1) 0%, hsla(120, 61%, 34%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(120, 61%, 50%, 1) 0%, hsla(120, 61%, 34%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#32CD32", endColorstr="#228B22", GradientType=1 );
transition: 0.2s;;
}
.card-pink{
  background: hsla(352, 83%, 57%, 1);

background: linear-gradient(135deg, hsla(352, 83%, 57%, 1) 0%, hsla(352, 83%, 57%, 1) 33%, hsla(26, 100%, 61%, 1) 100%, hsla(14, 92%, 61%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(352, 83%, 57%, 1) 0%, hsla(352, 83%, 57%, 1) 33%, hsla(26, 100%, 61%, 1) 100%, hsla(14, 92%, 61%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(352, 83%, 57%, 1) 0%, hsla(352, 83%, 57%, 1) 33%, hsla(26, 100%, 61%, 1) 100%, hsla(14, 92%, 61%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EC3750", endColorstr="#EC3750", GradientType=1 );
}
.card-pink:hover{
  background: hsla(14, 92%, 61%, 1);

background: linear-gradient(135deg, hsla(14, 92%, 61%, 1) 0%, hsla(352, 83%, 57%, 1) 33%, hsla(26, 100%, 61%, 1) 100%, hsla(352, 83%, 57%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(14, 92%, 61%, 1) 0%, hsla(352, 83%, 57%, 1) 33%, hsla(26, 100%, 61%, 1) 100%, hsla(352, 83%, 57%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(14, 92%, 61%, 1) 0%, hsla(352, 83%, 57%, 1) 33%, hsla(26, 100%, 61%, 1) 100%, hsla(352, 83%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F76A41", endColorstr="#EC3750", GradientType=1 );
}
.card-introtaps{
  background: hsla(63, 58%, 55%, 1);

background: linear-gradient(135deg, hsla(63, 58%, 55%, 1) 100%, hsla(180, 2%, 12%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(63, 58%, 55%, 1) 100%, hsla(180, 2%, 12%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(63, 58%, 55%, 1) 100%, hsla(180, 2%, 12%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C8CE49", endColorstr="#1E1F1F", GradientType=1 );
}
.card-introtaps:hover{
  background: hsla(63, 58%, 55%, 1);

background: linear-gradient(135deg, hsla(63, 58%, 55%, 1) 100%, hsla(180, 2%, 12%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(63, 58%, 55%, 1) 100%, hsla(180, 2%, 12%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(63, 58%, 55%, 1) 100%, hsla(180, 2%, 12%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C8CE49", endColorstr="#1E1F1F", GradientType=1 );
}
.card-publicnotepad{
  background: hsla(46, 76%, 59%, 1);

background: linear-gradient(135deg, hsla(46, 76%, 59%, 1) 0%, hsla(61, 87%, 70%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(46, 76%, 59%, 1) 0%, hsla(61, 87%, 70%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(46, 76%, 59%, 1) 0%, hsla(61, 87%, 70%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6C046", endColorstr="#F3F56F", GradientType=1 );
}
.card-heading-light{
  color: white;
  font-weight: bolder;
}
.card-heading-dark{
  color: rgb(39, 39, 39);
  font-weight: bolder;
}

[data-theme="dark"] .card-heading-dark {
    color: white;
}

.card-das{
  background: #020024;
background: linear-gradient(321deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
.card-das:hover{
  background: #020024;
background: linear-gradient(121deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
.card-keyboard{
  background: #1f1f1f;
  
}

[data-theme="dark"] .spotify-widget-container {
  background-color: #1DB954; /* Spotify Green */
  border-radius: 12px;
}

[data-theme="dark"] .spotify-widget-container iframe {
  mix-blend-mode: multiply;
}
